[Unit]
Description=Initialize nvidia devices
Before=slurm.service
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
ExecStart=/usr/local/bin/nvidia_init.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
